.search-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    height: 40px;
    width: auto;
    padding: 0.25rem 2rem;
    background-color: green;
}

.search-button:hover{
    --bs-btn-hover-border-color: inherit;
}

.search-bar{
    overflow: hidden;
    height: 40px;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: pink;
}

.search-icon{
    height: 100%;
    padding: 0;
    margin:0;

}

.search-icon-img{
    height: 80%;
    width: auto;
    object-fit: contain;
}

.search-input-box{
    height: 100%;
    font-size: 1.25rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 5px;
    border: 0;
    background: transparent;
    outline: 0;
}