.row,.row>*{
    padding: 0;
    margin: 0;
}

.sub-posts{
    height: 100vh;
    overflow: auto;
}

.post-container{
    --fontFamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: var(--fontFamily);
    width: 20%;
    padding: 0.5rem;
}

.post{
    padding: 0.5rem;
    transition: transform .25s ease-in-out;
    border: 2px solid transparent;
}

.post:hover{
    transform: scale(1.02);
    border-color: black;
    cursor: pointer;
}

.post-icon {
    --icon-size:15px;
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: contain;
}

.post-text{
    margin: 0;
    padding: 0;
    font-size: small;
    display: inline-block;
}

.post-title{
    padding: 0 0.5rem 0 0;
}

.post-title-text{
    font-size: medium;
    font-weight: 500;
    margin: 0;
    padding: 0;
}