:root {
    --icon-size-displayMode: 30px;
}

.themeDiv{
    display: inline-block;
}

.themeIcon {
    width: calc(var(--icon-size) + 25px);
    height: calc(var(--icon-size) + 25px);
    object-fit: contain;
    border: 2px solid black;
    border-radius: 10px;
}

.dropdown-item:hover{
    background: rgb(225, 225, 197);
}
