:root {
    --icon-size: 30px;
}

.themeDiv{
    display: inline-block;
}

.themeIcon {
    width: calc(var(--icon-size) + 12.5px);
    height: calc(var(--icon-size) + 12.5px);
    object-fit: contain;
    border: 2px solid black;
    border-radius: 10px;
}
